:root {
}

.unity-progress-bar {
    align-self: center;
    flex-grow: 1;
    bottom: 5%;
    position: absolute;
    width: 1200px;
}

#progressbar > #unity-progress-bar > .unity-progress-bar__background {
    background-image: url("project://database/Assets/TinyWalnutGames/UITKTemplates/HiddenObjectGameTemplate/Art/Sprites/itemFoundToast.png?fileID=2800000&guid=fdaf2fbabac805e4aabf9d6b7c59fb7f&type=3#itemFoundToast");
    -unity-slice-left: 64;
    -unity-slice-top: 64;
    -unity-slice-right: 64;
    -unity-slice-bottom: 64;
    background-color: rgba(0, 0, 0, 0);
    -unity-slice-scale: 0.1px;
    -unity-slice-type: sliced;
    align-content: auto;
    align-items: auto;
    -unity-background-image-tint-color: rgb(130, 255, 93);
    width: 1200px;
}

#progressbar .unity-progress-bar__progress {
    background-color: rgba(255, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 0, 0);
    background-size: contain;
    flex-grow: 1;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgb(255, 165, 0);
    border-right-color: rgb(255, 165, 0);
    border-top-color: rgb(255, 165, 0);
    border-bottom-color: rgb(255, 165, 0);
    background-image: url("project://database/Assets/TinyWalnutGames/UITKTemplates/HiddenObjectGameTemplate/Art/Sprites/itemFoundToast.png?fileID=2800000&guid=fdaf2fbabac805e4aabf9d6b7c59fb7f&type=3#itemFoundToast");
    -unity-slice-left: 63;
    -unity-slice-top: 63;
    -unity-slice-right: 63;
    -unity-slice-bottom: 63;
    -unity-slice-scale: 0.1px;
    -unity-background-scale-mode: stretch-to-fill;
}

#progressbar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__title-container {
}

#progressbar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__title-container > .unity-progress-bar__title {
}
